name: Lint kotlin

on:
  push:
    paths:
      - .github/workflows/ktlint.yaml
      - '**/*.kt'
jobs:
  ktlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Downloads and installs ktlint
        run: |
          curl -sSLO https://github.com/pinterest/ktlint/releases/download/1.0.1/ktlint && chmod a+x ktlint && sudo mv ktlint /usr/local/bin/
      - name: Runs ktlint for Project android
        working-directory: claqueta_tfg/
        run: ktlint --format --editorconfig ../.editorconfig
